# REQUIRED CONFIG
BOT_TOKEN = 5711778610:AAFwjGN_XaCy4PSRYAiyG5WvfmM6q8I33UU""
GDRIVE_FOLDER_ID = "0AGmg_P0XJzN6Uk9PVA"
OWNER_ID = 1620169470
DOWNLOAD_DIR = "/usr/src/app/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 10
AUTO_DELETE_MESSAGE_DURATION = 20
TELEGRAM_API = 10412514
TELEGRAM_HASH = "4d55a7064ad72adcfa8944f505453a8c"
# OPTIONAL CONFIG
AUTO_DELETE_UPLOAD_MESSAGE_DURATION = -1
IS_TEAM_DRIVE = "True"
DATABASE_URL = "postgresql://postgres:qZO5TQijaMPohv7ifQ66@containers-us-west-86.railway.app:6911/railway"
AUTHORIZED_CHATS = "-1001154178306"
SUDO_USERS = "5629265679"
IGNORE_PENDING_REQUESTS = "True"
USE_SERVICE_ACCOUNTS = "True"
INDEX_URL = "https://calm-leaf-54b8.ayaanjavedyt7812.workers.dev/"
STATUS_LIMIT = "4"
STOP_DUPLICATE = "False"
CMD_INDEX = ""
UPTOBOX_TOKEN = ""
TORRENT_TIMEOUT = "1200"
EXTENSION_FILTER = ""
INCOMPLETE_TASK_NOTIFIER = "True"
# Mirror
MIRROR_LOGS = "-1001720609021"
BOT_PM = "True"
FORCE_BOT_PM = "True"
# Leech
LEECH_LOG = "-1001720609021"
USER_SESSION_STRING = ""
LEECH_SPLIT_SIZE = "4GB"
AS_DOCUMENT = ""
EQUAL_SPLITS = ""
CUSTOM_FILENAME = "@Legend_Shivam_7"
# Update
UPSTREAM_REPO = ""
UPSTREAM_BRANCH = ""
# qBittorrent/Aria2c
BASE_URL_OF_BOT = "https://idonotknow7.heroku.com"
SERVER_PORT = ""
WEB_PINCODE = ""
# RSS
RSS_DELAY = ""
RSS_COMMAND = ""
RSS_CHAT_ID = ""
RSS_USER_SESSION_STRING = ""
# Private Files
ACCOUNTS_ZIP_URL = ""
TOKEN_PICKLE_URL = ""
MULTI_SEARCH_URL = ""
YT_COOKIES_URL = ""
NETRC_URL = ""
# Mega
MEGA_API_KEY = "KJB3HR6D"
MEGA_EMAIL_ID = "ayaanjavedyt@gmail.com"
MEGA_PASSWORD = "ayaanjavedyoutube"
# Gdtot
CRYPT = "YXkrekFIVThoWTBlYmNra1hYOGdURitERTRBOU1jbElTQWJjVmh3Zm84ND0%3D; PHPSESSID=lcsj7r9eicp4d9ubgkqjv88lat; _gat_gtag_UA_130203604_4=1"
# Appdrive
APPDRIVE_EMAIL = "ayaanjavedyt@gmail.com"
APPDRIVE_PASS = "ayaanjavedyoutube"
# Size Limits
TORRENT_DIRECT_LIMIT = ""
ZIP_UNZIP_LIMIT = ""
CLONE_LIMIT = ""
MEGA_LIMIT = "5"
STORAGE_THRESHOLD = "1"
# Telegraph ui
TITLE_NAME = "Telly-Mirror-Search"
AUTHOR_NAME = "Shivam"
AUTHOR_URL = "https://t.me/Legend_Shivam_7"
# Buttons
VIEW_LINK = "True"
SOURCE_LINK = "True"
START_BTN1_NAME = ""
START_BTN1_URL = ""
START_BTN2_NAME = ""
START_BTN2_URL = ""
# Torrent Search
SEARCH_API_LINK = ""
SEARCH_LIMIT = ""
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/rarbg.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/piratebay.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/legittorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/limetorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentscsv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/zooqle.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/eztv.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/kickass_torrent.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/yts_am.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/nyaasi.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/ettv.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/glotorrents.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/thepiratebay.py",
                   "https://raw.githubusercontent.com/nindogo/qbtSearchScripts/master/magnetdl.py",
                   "https://raw.githubusercontent.com/khensolomon/leyts/master/yts.py"]'
# Custom bot commands
# Mirror Related Commands
START_CMD = ""    #Default is "start"
MIRROR_CMD = ""     #Default is "mirror"
ZIP_CMD = ""        #Default is "zipmirror"
UNZIP_CMD = ""      #Default is "unzipmirror"
CANCEL_CMD = ""     #Default is "cancel"
LIST_CMD = ""       #Default is "list"
SEARCH_CMD = ""     #Default is "search"
STATUS_CMD = ""     #Default is "status"
STATS_CMD = ""      #Default is "stats"
HELP_CMD = ""       #Default is "help"
CLONE_CMD = ""      #Default is "clone"
COUNT_CMD = ""      #Default is "count"
YTDL_CMD = ""      #Default is "ytdl"
YTDLZIP_CMD = ""   #Default is "ytdlzip"
QBMIRROR_CMD = ""   #Default is "qbmirror"
QBZIP_CMD = ""      #Default is "qbzipmirror"
QBUNZIP_CMD = ""    #Default is "qbunzipmirror"

#Leech Related CMDs
LEECH_CMD = ""      #Default is "leech"
LEECHSET_CMD = ""   #Default is "leechset"
SETTHUMB_CMD = ""   #Default is "setthumb"
UNZIPLEECH_CMD = "" #Default is "unzipleech"
ZIPLEECH_CMD = ""   #Default is "zipleech"
QBLEECH_CMD = ""    #Default is "qbleech"
QBUNZIPLEECH_CMD = "" #Default is "qbunzipleech"
QBZIPLEECH_CMD = ""    #Default is "qbzipleech"
YTDLLEECH_CMD = ""    #Default is "ytdlleech"
YTDLZIPLEECH_CMD = "" #Default is "ytdlzipleech"
CANCEL_ALL_CMD = "" #Default is  "cancelall
DELETE_CMD = ""     #Default is "del"

# RSS Realted Commands
RSSLIST_CMD = ""
RSSGET_CMD = ""
RSSSUB_CMD = ""
RSSUNSUB_CMD = ""
RSSSET_CMD = ""
ADDLEECHLOG_CMD = ""
RMLEECHLOG_CMD = ""
